//General for all banners
html, body
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased

img
  height: auto
  display: block

//Style for the banner
#banner
  width: 166px
  height: 600px
  border: 1px solid lightgrey
  position: absolute
  margin: auto
  left: 0
  right: 0
  top: 0
  bottom: 0
  font-family: 'Helvetica Bold', sans-serif
  overflow: hidden
  &:hover
    border-color: darken(lightgrey, 10)
    +transition(all .5s ease-in-out)
  &.hover-efect
    &:hover
      .title
        button:after
          padding: 0
          margin: 0
          opacity: 1
          transition: 0s
  .background-image
    height: 300px
    position: relative
    left: 0
    opacity: 0
  .title
    width: 100%
    height: 100%
    background-color: white
    position: absolute
    top: 0
    left: 0
    text-align: center
    .logo
      position: relative
      height: 40px
      img
        width: 80px
        position: absolute
        top: 10px
        left: 43px
        +scale(0)
    p
      font-size: 20px
      position: relative
      &.first
        color: $ligthblue
        padding: 0 15px
        top: 0
        +scale(0)
      &.second
        color: $blue
        top: 0
        +scale(0)
        span
          color: $ligthblue
    button
      color: $white
      background-color: $ligthblue
      border: none
      font-family: inherit
      +border-radius(8px)
      padding: 6px 22px
      font-size: 16px
      position: relative
      top: 100px
      opacity: 0
      overflow: hidden
      &:focus
        outline: none
      &:after
        content: ""
        background: white
        display: block
        position: absolute
        padding-top: 300%
        padding-left: 350%
        margin-left: -30px !important
        margin-top: -120%
        opacity: 0
        +transition(all .5s ease-in-out)
