@font-face {
  font-family: Helvetica Bold;
  src: url(fonts/helvetica-bold.ttf);
  font-weight: bold; }
html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased; }

img {
  height: auto;
  display: block; }

#banner {
  width: 166px;
  height: 600px;
  border: 1px solid lightgrey;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: "Helvetica Bold", sans-serif;
  overflow: hidden; }
  #banner:hover {
    border-color: #bababa;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  #banner.hover-efect:hover .title button:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s; }
  #banner .background-image {
    height: 300px;
    position: relative;
    left: 0;
    opacity: 0; }
  #banner .title {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center; }
    #banner .title .logo {
      position: relative;
      height: 40px; }
      #banner .title .logo img {
        width: 80px;
        position: absolute;
        top: 10px;
        left: 43px;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0); }
    #banner .title p {
      font-size: 20px;
      position: relative; }
      #banner .title p.first {
        color: #33C6F4;
        padding: 0 15px;
        top: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0); }
      #banner .title p.second {
        color: #1C3664;
        top: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0); }
        #banner .title p.second span {
          color: #33C6F4; }
    #banner .title button {
      color: #fff;
      background-color: #33C6F4;
      border: none;
      font-family: inherit;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      border-radius: 8px;
      padding: 6px 22px;
      font-size: 16px;
      position: relative;
      top: 100px;
      opacity: 0;
      overflow: hidden; }
      #banner .title button:focus {
        outline: none; }
      #banner .title button:after {
        content: "";
        background: white;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -30px !important;
        margin-top: -120%;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }

/*# sourceMappingURL=style.css.map */
